<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hardware store</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/page.css">
  </head>
  <body>
    <header class="container d-flex justify-content-between">  
      <!-- <div class="logo py-3">
        <img src="assets/logo.png" alt="">
      </div> -->     
      <div class="logo d-flex align-items-center py-3">
        <img src="assets/logo.png" alt="">
        <span class="mx-3 title-page p-1 rounded">Ferretería Maped</span>
      </div>
    </header>   
  
